<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <!-- Load google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Montserrat" rel="stylesheet">
  <!--Load normalize css-->
  <link rel="stylesheet" href="/public/normalize.css">
  <link rel="stylesheet" href="/public/styles.css">

</head>

<body>
  <!-- Header with Top Navigation -->
  <div class="menu" id="topmenu">
    <img class="logo-img" src="/public/logo.png" ALT="LOGO" ALIGN=CENTER>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li style="float: right;"><a href="#!">
            <i class="fa fa-shopping-cart"><strong class="cart">0</strong></i>
          </a></li>
        <li style="float: right"><a href="/account/signup">Signup</a></li>
        <li style="float: right"><a href="#!">Login</a></li>
      </ul>
    </nav>
  </div>

  <!-- main body-->
  <div class="main">